/* _new_list.scss */

.new-list {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
.new-list .new-list-heading {
  margin-bottom: 10px;
}
.new-list .form-control:focus {
  z-index: 2;
}
.new-list button {
  margin-top: 10px;
}
.new-list .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* _right_rail.scss */

.grocery-lists .list-group {
  margin-bottom: 0;
  margin-top: 20px;
}

/* _footer.scss */

.list-info-footer {
  color: #bfbfbf;
  font-size: 12px;
  text-align: center;
}
.list-footer {
  color: #777;
  padding: 10px 15px;
  height: 40px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.list-footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.list-footer .list-count {
  float: left;
  text-align: left;
}
.list-footer .list-count strong {
  font-weight: 300;
}
.list-footer .filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}
.list-footer .filters li {
  display: inline;
}
.list-footer .filters li p {
  cursor: pointer;
  display: inline;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.list-footer .filters li p.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
.list-footer .filters li p:hover {
  border-color: rgba(175, 47, 47, 0.1);
}
.list-footer .clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}
.list-footer .clear-completed:hover {
  text-decoration: underline;
}

/* _list_header.scss */

.list-header {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
  color: #777;
  background-color: #eee;
  padding: 0;
  border-bottom: none;
}
.list-header.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}
.list-header.editing .view {
  display: none;
}
.list-header.completed label {
  color: #b9b9b9;
  text-decoration: line-through;
}
.list-header:hover .destroy {
  display: block;
}
.list-header label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  margin-bottom: 0px;
  display: block;
  line-height: 0.8;
  transition: color 0.4s;
  font-weight: normal;
}
.list-header .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 35px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}
.list-header .destroy:hover {
  color: #af5b5e;
}
.list-header .destroy:after {
  content: '×';
}
.list-header .edit {
  display: none;
}

/* _list.scss */

.grocery-list {
  background: #fff;
  margin: 20px 0 40px 0;
  position: relative;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.grocery-list button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.grocery-list .hidden {
  display: none;
}
.grocery-list input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.grocery-list input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.grocery-list .new-item, .grocery-list .edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.grocery-list .new-item {
  padding: 10px 16px 10px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.grocery-list .main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}
.grocery-list .main .toggle-all {
  position: absolute;
  top: -35px;
  left: 50px;
  width: 60px;
  height: 34px;
}
.grocery-list .main .toggle-all .checkmark {
  border-color: #999;
  background-color: #ccc;
}
.grocery-list .main .toggle-all .checkmark:after {
  display: block;
  left: 4px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
}
.grocery-list .main .toggle-all .checkmark:hover {
  border-color: #999;
  background-color: #aaa;
}
.grocery-list .main .item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.grocery-list .main .item-list li {
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
}
.grocery-list .main .item-list li:last-child {
  border-bottom: none;
}
.grocery-list .main .item-list li.editing {
  padding: 0 0 0 53px;
}
.grocery-list .main .item-list li.editing .edit {
  display: block;
}
.grocery-list .main .item-list li.editing .view {
  display: none;
}
.grocery-list .main .item-list li.editing:last-child {
  margin-bottom: -1px;
}
.grocery-list .main .item-list li.completed label {
  color: #b9b9b9;
  text-decoration: line-through;
}
.grocery-list .main .item-list li:hover .destroy {
  display: block;
}
.grocery-list .main .item-list li .view {
  display: flex;
  line-height: 40px;
}
.grocery-list .main .item-list li .view .toggle {
  order: 1;
  margin: auto 20px;
}
.grocery-list .main .item-list li .view .toggle .check-container {
  margin: 0;
}
.grocery-list .main .item-list li .view .toggle .checkmark {
  display: block;
  position: relative;
}
.grocery-list .main .item-list li .view .item {
  order: 2;
  flex-grow: 1;
  margin: auto 0;
  white-space: pre-line;
  word-break: break-all;
  transition: color 0.4s;
  font-weight: normal;
}
.grocery-list .main .item-list li .destroy {
  display: none;
  order: 3;
  margin: auto 15px;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}
.grocery-list .main .item-list li .destroy:hover {
  color: #af5b5e;
}
.grocery-list .main .item-list li .destroy:after {
  content: '×';
}
.grocery-list .main .item-list li .drag-handle {
  order: 4;
  width: 18px;
  height: 12px;
  margin: auto 15px;
  opacity: 0.25;
  cursor: row-resize;
  background: -webkit-linear-gradient(top, #000, #000 20%, #fff 0, #fff 40%, #000 0, #000 60%, #fff 0, #fff 80%, #000 0, #000);
  background: linear-gradient(180deg, #000, #000 20%, #fff 0, #fff 40%, #000 0, #000 60%, #fff 0, #fff 80%, #000 0, #000);
}
.grocery-list .main .item-list li .edit {
  display: none;
}

/* _error.scss */

.list-error {
  margin-top: 20px;
}
