.form-group.required:not(.readonly) .form-control {
  background-color: var(--primaryShadow);
}

.form-control {
  background-color: var(--midground);
  border-color: var(--inputBorder);
  color: var(--primaryText);
}

.form-control:read-only {
  background-color: var(--inputBgDisabled);
  color: var(--secondaryText);
  border: 1px dotted var(--inputBorder);
}
.form-control:read-only:hover {
  cursor: not-allowed;
}

.form-control:focus {
  border-color: var(--primaryText);
  box-shadow: 0 0 0 1px var(--primaryText);
  color: var(--primaryText);
}
.form-control:not(:read-only):focus {
  background-color: var(--inputBgActive);
}
.form-control:not(:read-only):hover {
  border-color: var(--primaryMain);
}
.form-control:read-only:hover {
  border-color: var(--primaryText);
}

.input-group-text {
  background-color: var(--hoverBg);
  color: var(--primaryText);
  padding: .35em .75em;
  line-height: 1;
  border: 1px solid var(--inputBorder);
}

.form-group .input-adornment-start button, .form-group .input-adornment-end button {
  min-height: unset;
}
