.page-item {
  min-width:  3em;
  text-align: center;
  height:      3em;
  line-height: 3em;
}
@media screen and (min-width: 768px) {
  .page-item {
    height:      2.5em;
    line-height: 2.5em;
  }
}

.page-link {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.page-link.active:hover {
  cursor: default;
  pointer-events: none;
}

.page-link.disabled:focus {
  box-shadow: 0 0 0 1px var(--secondaryText);
}
.page-link:not(.disabled):focus {
  box-shadow: 0 0 0 2px var(--primaryText);
}

.page-item.active .page-link {
  color:            var(--primaryContrast);
  background-color: var(--primaryMain);
  border-color:     var(--primaryMain);
}

.page-item.disabled .page-link {
  color:            var(--secondaryText);
  background-color: var(--actionDisabled);
  border-color:     var(--actionDisabled);
}
