.navbar {
  margin-bottom: 0px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#header-navbar .navbar-toggler {
  color: var(--primaryContrast);
  border: 0;
  align-self: stretch;
}
#header-navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 2px var(--primaryContrast);
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  height: 100%;
}
#header-navbar {
  padding: 0;
  background-color: var(--primaryMain);
}
@media screen and (min-width: 768px) {
  #header-navbar {
    background-color: var(--elevation);
    border-bottom: 5px solid var(--primaryMain);
    box-shadow: 0 0 5px 1px var(--primaryMain);
  }
}
#header-navbar > .container > .navbar-collapse {
  height: 100%;
}
#header-navbar > .container > .navbar-collapse > .header-nav {
  height: 100%;
  align-items: center;
}

#header-navbar .nav-link {
  color: var(--primaryContrast);
  border-radius: .25rem;
}
@media screen and (min-width: 768px) {
  #header-navbar .nav-link {
    color: inherit;
  }
}
#header-navbar .header-nav .nav-link.active,
#header-navbar .header-nav .show > .nav-link,
#header-navbar .header-nav .nav-link:focus,
#header-navbar .header-nav .nav-link:hover,
#header-navbar .header-nav .btn:hover,
#header-navbar .header-nav .btn:focus {
  color: var(--hoverText);
}
#header-navbar .header-nav .nav-link:hover {
  color: var(--hoverText);
  background-color: var(--hoverBg);
}
#header-navbar .header-nav .nav-link:focus {
  outline: 0;
  box-shadow: 0 0 0 .1rem var(--primaryText) inset;
}

#header-navbar .my-account-nav {
  float: right;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  #header-navbar .my-account-nav {
    margin-left: auto;
    float: unset;
  }
}
#header-navbar #my-account-dropdown::after,
#header-navbar #settings-dropdown::after {
  display: none;
}
@media screen and (min-width: 768px) {
  #header-navbar #my-account-dropdown::after {
    display: inline-block;
  }
}
#header-navbar .subtitle {
  font-size: 0.875em;
}
