.rating-panel {
  border: 1px solid #eee !important;
}
.rating-panel .panel-heading {
  padding-bottom: 0;
}
.rating-panel .panel-heading h3 {
  margin-bottom: 0;
}
.rating-panel .panel-body {
  padding-top: 0;
}
