.rating-panel {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.rating-panel .card-header .ratings-heading-col {
  display: flex;
  align-items: center;
}
.rating-panel .card-header h2 {
  font-size: 1.1em;
  margin-bottom: 0;
}

.rating-panel .new-rating-heading {
  font-size: 1.1em;
  font-weight: bold;
}
.rating-panel .new-rating {
  margin-bottom: 30px;
}
.rating-panel .new-rating button {
  margin-top: 10px;
}
