.recipe-details .mobile-image {
  display: none;
}

.recipe-details .banner-img {
  margin-bottom: 20px;
  width: 100%;
}
.recipe-details .caption-full {
  padding: 9px;
  color: #333;
}
.recipe-details .description {
  margin-top: 20px;
}
.recipe-details .edit {
  margin-top: 15px;
  margin-left: 10px;
}
.recipe-details .info {
  display: block;
}
.recipe-details .recipe-schema {
  padding: 20px;
}
.recipe-details .recipe-schema .table td {
  text-align: center;
  vertical-align: middle;
}
.recipe-details .recipe-schema .table td .input-group {
  margin: auto;
  max-width: 80px;
}
.recipe-details .recipe-schema .table td .input-group .input-group-btn .btn-default {
  width: 20px;
}
.recipe-details .recipe-schema .table td .input-group .input-group-btn .glyphicon {
  margin-left: -5px;
  font-size: 10px;
}
.recipe-details .recipe-schema .table td .input-group .servings-textbox input[type=number]::-webkit-inner-spin-button, .recipe-details .recipe-schema .table td .input-group .servings-textbox input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.recipe-details .recipe-schema .table td .input-group .servings-textbox .form-group {
  margin-bottom: 0;
}
.recipe-details .recipe-schema .table td .input-group .servings-textbox .form-group .form-control {
  display: inline-block;
  text-align: center;
  max-width: 80px;
}
.recipe-details .recipe-schema .panel-default th, .recipe-details .recipe-schema .panel-default td {
  text-align: center;
}
.recipe-details .recipe-schema .clear {
  clear: left;
  height: 0;
  line-height: 0;
}
.recipe-details .recipe-schema .ingredients {
  display: block;
  list-style-type: none;
}
.recipe-details .recipe-schema .ingredients li {
  line-height: 22px;
}
.recipe-details .recipe-schema .ingredients li .checkbox-style {
  text-align: center;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -25px;
  margin-left: -35px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
.recipe-details .recipe-schema .ingredients li .checkbox-style:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#dddddd" stroke-width="3"/></svg>');
}
.recipe-details .recipe-schema .ingredients li .checkbox-style:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bbbbbb" stroke-width="3"/><path fill="#1dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.recipe-details .recipe-schema .ingredients li .checkbox-style:focus {
  outline: 0;
}
.recipe-details .recipe-schema .ingredients-buttons {
  display: block;
  margin-top: 15px;
}
.recipe-details .recipe-schema .ingredients-buttons .btn-group {
  display: block;
}
.recipe-details .recipe-schema .ingredients-buttons .recipe-list-spinner {
  display: inline-block;
  margin-top: 5px;
  margin-left: 12px;
}
.recipe-details .recipe-schema .ingredients-buttons .recipe-list-spinner .sk-circle:before {
  background-color: #555;
}
.recipe-details .recipe-schema .ingredients-buttons .glyphicon {
  margin-top: 5px;
  margin-left: 12px;
  font-size: 18px;
}
.recipe-details .recipe-schema .ingredients-buttons .glyphicon.glyphicon-ok {
  color: #3f9c35;
}
.recipe-details .recipe-schema .ingredients-buttons .glyphicon.glyphicon-remove {
  color: #a33f1f;
}
.recipe-details .ratings img {
  margin-top: 10px;
}
.recipe-details .ratings .rating-stars {
  font-size: 2.2em;
  text-align: center;
}
.recipe-details .title {
  text-align: center;
}
.recipe-details .panel-footer .btn-danger {
  margin-left: 5px;
}
@media print {
  body * {
    visibility: hidden;
  }
  .recipe-details, .recipe-details * {
    visibility: visible;
  }
  .recipe-details {
    position: absolute;
    left: 0;
    top: 0;
  }
  .recipe-details .panel {
    border: none;
  }
  .recipe-details .panel-footer {
    display: none;
  }
  .print-image {
    display: block !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .print-image img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
