.recipe-form {
  margin-top: 20px;
}
.recipe-form .box {
  border: solid 1px #ddd;
}
.recipe-form .add-ing {
  float: right;
  margin-right: 15px;
}
.recipe-form label {
  font-weight: normal;
}
.recipe-form img {
  width: 100%;
}
.recipe-form input[type='file'] {
  margin-top: 10px;
}
.recipe-form .help-inline {
  color: #a94442;
}
.recipe-form .btn {
  float: right;
  margin-left: 5px;
}
.recipe-form .live-editor {
  margin-bottom: 15px;
}
.recipe-form .live-editor .nav-tabs.has-error {
  border-color: #a94442;
}
.recipe-form .live-editor .nav-tabs > li {
  float: right;
  margin-bottom: -1px;
}
.recipe-form .live-editor .nav-tabs > li > span {
  color: #337ab7;
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}
.recipe-form .live-editor .nav-tabs > li > span:hover {
  border-color: #ddd;
  background-color: #eee;
}
.recipe-form .live-editor .nav-tabs > li.left {
  border: none;
  float: left;
}
.recipe-form .live-editor .nav-tabs > li.left span {
  padding-left: 0;
  border: none !important;
}
.recipe-form .live-editor .nav-tabs > li.active > span, .recipe-form .live-editor .nav-tabs > li.active > span:hover, .recipe-form .live-editor .nav-tabs > li.active > span:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.recipe-form .live-editor .content {
  border: 1px solid #ddd;
  border-top: none;
}
.recipe-form .live-editor .content.has-error {
  border-color: #a94442;
}
.recipe-form .live-editor .content textarea {
  border: none;
  margin-bottom: -15px;
}
.recipe-form .live-editor .content .recipe-details {
  margin-top: 0;
}
.recipe-form .live-editor .content .directions {
  padding-top: 10px;
}
.underline {
  border-bottom: solid 1px #ccc;
}
