.search-bar {
  margin-top: 20px;
}
.search-bar .search-clear {
  background-color: var(--midground);
}
.search-bar .search-clear:hover {
  background-color: var(--inputBgActive);
  cursor: pointer;
}
.no-results {
  margin-top: 100px;
  text-align: center;
}
.spinner {
  text-align: center;
}
.spinner .spinner-obj {
  height: 100px !important;
  width: 100px !important;
  margin-top: 30px;
  display: inline-block;
}
@media (max-width: 767px) {
  .search-bar .input-group-addon {
    border-top-left-radius: 0;
  }
  .search-bar .form-control {
    border-top-right-radius: 0;
  }
}
